.resumen-mensual-container {
  padding: 1rem 1.5rem;
  border: 1px solid var(--border-color, #d1d5db);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  background-color: var(--surface-color, #ffffff);;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 1rem auto; */
}

.resumen-mensual-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--border-color, #e5e7eb);
  color: var(--text-primary, #1f2937);
  text-align: center;
}

.resumen-mensual-item {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: var(--text-secondary, #374151);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-radius: 6px;
}

.resumen-mensual-item.balance span:last-child {
  font-weight: 700;
  color: var(--success-color, #16a34a);
}

.resumen-mensual-item.balance.negative span:last-child {
  color: var(--danger-color, #dc2626);
}

.error-text {
  color: var(--danger-color, #dc2626);
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
}

/* Ajustes móviles */
@media (max-width: 480px) {
  .resumen-mensual-container {
    max-width: 100%;
    padding: 1rem;
    margin: 0.5rem 1rem;
  }

  .resumen-mensual-title {
    font-size: 1.25rem;
  }

  .resumen-mensual-item {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}